/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin vaadin7 {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
.panel_hide{
	border:solid 1px red;  
}

.layout_hide{
	border:solid 1px blue;  
}
}
